@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #130F1F;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #130F1F;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}


@layer utilities {
  .no-scrollbar::-webkit-scrollbar {
    display: none; /* For Chrome, Safari, and Opera */
  }

  .no-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
}


::-webkit-scrollbar {
  width: 12px; /* Width of the entire scrollbar */
}


::-webkit-scrollbar-thumb {
  background-color: #130F1F; /* Color of the scrollbar */
  border-radius: 8px;     /* Optional: rounding the corners */
  /* border: 3px solid #E1244F; Optional: adds space around the scrollbar */
}